
/* colour template */
/* #463F3A dark g
/* #8A817C med g
/* #BCB8B1 light g
/* #F4F3EE white
/* #E0AFA0 pink

/* --- Components design --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/badge.css");
@import url("components/banner.css");
@import url("components/tabs.css");
@import url("components/list.css");
@import url("components/navbar.css");

/* --- Fonts --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  font-size: 14px;
  background-color: #F4F3EE;
}

h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";
  font-size: 24px;
  line-height: 40px;
  margin: 5px;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  margin: 0;
}
