.post-card {
  height: 200px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-top: 1px solid #463F3A;
  border-bottom: 1px solid #463F3A;
  flex-basis: 100%
}

.postcard a {
  text-decoration: none;
}

.post-card:hover {
  background: rgba(255, 183, 3, 0.5);
}

.post-card-image {
  flex: 1 0 20%;
}

img.post-card-image {
  height: 200px;
  width: auto;
}

.post-card-content {
  flex: 0 1 auto;
  white-space: initial;
}

.post-card-content h1 {
  font-size: 8vw;
  color: rgba(0,0,0,0.8)
}

.post-card-content h2 {
  font-size: 5vw;
}

.post-card-content p {
  font-size: 2vw;
  overflow: hidden;
}
