nav {
  background-color: darkgray;
  height: 50px;
  display: flex;
  align-items: center;
}

nav li {
  padding: 18px;
}

nav li:hover {
  padding: 18px;
  background-color: #00032B
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.nav-list {
  align-items: center;
}
.nav-list li {
  display: inline;
  list-style-type: none;
  padding: 10px;
  color: white;
}
